
body {
    background-color: #E6E6FA;
}

#canvasHolder {
    width: 1000px;
    
    top:0;
    bottom: 0;
    
    margin: auto;
}

#coordinateSystem {
    background-color: white;
    width: 1000px;
    height: 600px;
    
}

