
html, body {
    width:  100%;
    height: 100%;
    margin: 0px;
}

#canvasHolder {
    width: 100%;
    height: 100%;
    
    top:0;
    bottom: 0;
    
    margin: auto;
}

#coordinateSystem {
    background-color: white;
    width: 100%;
    height: 100%;
    
}